*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom*/ 
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #A870F2;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.25rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
   
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.1;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

section.navSection {
    height: 60px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #000000;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    padding-left: 10px;
    color: #5a12b9;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    margin: 0 20px;
    padding: 20px, 25px;
    text-decoration: none;
    transition: 0.8 ease-in-out;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    

}

nav ul li a:hover {
    background: #b5b3b8;
    margin: 20px, 20px;

}

.headerSection {
    height: auto;


}

header {
    padding-left: 40px;
    display: flex;
    place-items: center;
    height: 400px;
}


.facePic {
    padding: 20px;
    border-right: 2px solid #b5b3b8;
    
}

.face {
    margin: 0;

}

.headerTitles {
    background-color: #b5b3b8;
    border-radius: 8px;
    padding: 20px;
    margin: 0 20px;
}

.headerTitles h1 {
    font-size: 50px;
}

.headerTitles h2 {
    font-size: 30px;
}

.headerTitles h3 {
    font-size: 20px;
}

.pvamuImage {
    padding: 20px;

}

.aboutMeSection {
    display: block;
    height: auto;
    background-color: #000000;
     
}

.aboutMeTitle {
    color: #ffffff;
    place-items: center;
    
}

.aboutMeText {
    margin: 70px;
    font-size: 18px;
    color: #ffffff;

}

.golfPic {
    margin: 10px;
}


accoladesSection {
    height: auto;

}



.infoCard {
    width: auto;
    margin: 10px;
    padding: 5px;
    
}

resumeButton {
    position: center;
}