*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5a12b9;
    font-family: sans-serif;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin: 0, 35px;
    padding-left: 10px;
    color: #5a12b9;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin: 0 20px;
    padding: 30px, 30px;
    text-decoration: none;
    transition: 0.8 ease-in;
    color: #5a12b9;
    font-size: 18px;
    font-weight: bold;

}

nav ul li a:hover {
    background: #b5b3b8;

}

header {
    display: grid;
    place-items: center;
    height: 400px;
    width: 80%
}

.headerBox {
    padding: 20px;
}

